.home-main{
	background-color: #e7e7e7;
}

.page-header {
	border: none;
}

.about {
	background-color: #99EBFF;
	margin-right: 0px;
	margin-left: 0px;
	width: 100%;
	text-align: center;
}

.wrapper{
	margin-right: 10%;
	margin-left: 10%
}
.about-details{

}