.home-main{
	background-color: #e7e7e7;
}

.page-header {
	border: none;
	padding: 25px;
}

.about {
	background-color: #99EBFF;
	margin-right: 0px;
	margin-left: 0px;
	width: 100%;
	text-align: center;
}

.wrapper{
	margin-right: 10%;
	margin-left: 10%
}

.upload-image{
	margin-top: 15px;
}


.form-upload{
	height: 10px;
	overflow: hidden;
}

.new-issue{
	margin-top: 10px;
	margin-bottom: 10px;
}